<h2> Halls with ticket details are coming soon</h2>
<h1> Yayy tickets are out</h1>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tickets Left</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issuers.each do |issuer| %>
      <tr>
        <td><%= issuer.name %></td>
        <td><%= issuer.capacity %></td>
        <td> <%= link_to "Book a Ticket!", book_path(:selected_entity_id=> issuer.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
